/****** Main Styling ******/
html {
  scroll-behavior: smooth;
  font-family: "Arial", sans-serif;
  width: auto !important;
  overflow: hidden !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100% !important;
  height: 100%;
  overflow: hidden !important;
}
.scroll-pane-container {
  position: relative;
}
main {
  width: inherit;
  height: inherit;
  width: auto;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #282c34;
  color: #dde0e6;
}
/*begin here*/
/*super small device*/
@media (max-width: 575px) {

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #FaFaFa;
	text-align: center;
	line-height: 1.4em;
}

.container {
	padding: 0;
	margin-top: 40px;
}

h3 {
  margin-top: 30px;
}

hr {
	margin: 25px;
}

.footer {
	margin-top: 40px;
}

code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #fff;
}

ul {
	list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}

a {
	color: #2574A9;
}
